<section id="feedback">
    <div class="wrapper-form">
        <h1>Зворотний зв’язок<a href="#"></a></h1>
        <p class="text">Щоб твоє звернення надійшло за призначенням, обов'язково вкажи своє ім'я, електронну адресу та виклади детально суть твого звернення. </p>
        <form class="form-horizontal" action=" " method=" ">

            <label class="control-label" for="email">E-mail</label>
            <div class="controls">
                <input type="text" name="email" value="E-mail" class="text" id="email">
                <span class="error hide">Неправильний формат e-mail.</span>
            </div>

            <label class="control-label" for="name">Iм’я</label>
            <div class="controls">
                <input type="text" name="name" value="Iм’я" class="text" id="name">
                <span class="error hide">Введи своє ім'я.</span>
            </div>

            <label class="control-label input-label" for="massege">Повідомлення</label>
            <div class="controls">
                <div class="wrapperTextarea">
                    <textarea name="massege" id="massege" value="Повідомлення" class="">Повідомлення</textarea>
                </div>
                <span class="error hide">Введи своє повідомлення.</span>
            </div>
            <p>
                Щоб твоє звернення надійшло за призначенням, обов'язково вкажи своє ім'я, електронну адресу та виклади детально суть твого звернення.
            </p>
            <span class="error hide">Неправильно вказано дані. Обери щонайменше 5 неоднакових символів</span>
            <h2>0-800-50-51-55</h2>
            <div class="control-group">
                <input type="submit" value="OK" class="submit">
            </div>

        </form>
    </div>
</section>