<div id="svg"></div>

<div class="container-fluid">
    <div class="row-fluid main">
        <div class="span12" id="contents">

        <!-- Page -->

        </div>
    </div>
</div>

<div class="row-fluid footer">
    <div class="span12">
        <p>Ти можеш <a href="#">увійти</a> або <a href="#!/register">зареєструватись</a>, якщо тобі виповнилося 18 років і ти куриш</p>
        <footer>
            <span class="infoLine">Інформаційна лінія: 0 800 50 84 15 </span>
            <nav class="footerNav">
                <a href="#!/feedback">Зворотний зв’язок</a>|
                <a href="#!/rules">Правила користування сайтом</a>
            </nav>
        </footer>
    </div>
</div>

<div class="row-fluid xv">
    <div class="span12">
        <div id="xv">
            <img src="img/xv.jpg" alt=" " />
        </div>
    </div>
</div>