<section id="main">
    <article class="hdi now" data-name="hdi" data-animate="hdi2003">
        <div>
            <h2 class="title-block">KENT HDi &nbsp;&nbsp;<span>/ 0.01</span></h2>
            <div class="hdiBlock">
                <div class="block-image">
                    <div class="packOne"></div>
                    <div class="packTwo"></div>
                </div>
                <div class="block-text">
                    <h3 class="title">KENT HDi – це нові сигарети KENT у форматі demislims.</h3>

                    <p class="about-pack">Технологія вугільної фільтрації забезпечує м’який смак.</p>

                    <p class="about-pack">Технологія надтонкого волокна Precision Thread відповідає за рівномірну передачу смаку протягом усього процесу куріння.</p>

                    <p class="about-pack">Турбокамера нового покоління забезпечує миттєву передачу смаку KENT HDi.</p>

                    <p class="description">
                        Вміст смол і нікотину в димі однієї сигарети (мг смол / мг нікотину):
                    </p>
                </div>
            </div>
        </div>
    </article>
</section>
<section id="profile">
    <article class="last profile-article">
        <div>
            <h2 class="title-block">Профайл &nbsp;&nbsp;<span>/ 0.02</span></h2>
            <div class="profile-wrapper">
                <div class="profile">
                    <form  class="form-horizontal text-left" action=" " method=" ">

                        <div class="controls">
                            <input type="text" name="name" value="П. I. Б." class="text" id="name">
                        </div>
                        <label class="control-label" for="name">П. I. Б.</label>

                        <div class="controls">
                            <div class="dateBirthday">
                                <input type="text" name="date" value="День" class="text" id="date">
                                <input type="text" name="month" value="Місяць" class="text">
                                <input type="text" name="year" value="Рік" class="text">
                            </div>
                        </div>
                        <label class="control-label" for="date">Дата народження</label>

                        <div class="controls">
                            <input type="text" name="mobilePhone" value="0 (96) 938-15-17" class="text" id="mobilePhone">
                        </div>
                        <label class="control-label" for="mobilePhone">Мобiльний телефон</label>

                        <div class="controls">
                            <input type="text" name="email" value="E-mail" class="text" id="email">
                        </div>
                        <label class="control-label" for="email">E-mail</label>

                        <div class="controls">
                            <input type="text" name="password" value="Пароль" class="text" id="password">
                        </div>
                        <label class="control-label" for="password">Пароль</label>

                        <div class="controls">
                            <div class="smoke">
                                <select name=" ">
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                </select>
                                <select name=" ">
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                </select>
                            </div>
                        </div>
                        <label class="control-label" for="sigaretsOne">Марка сигарет, які ти куриш постійно</label>

                        <div class="controls">
                            <div class="smoke">
                                <select name=" ">
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                </select>
                                <select name=" ">
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="HDi">HDi</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                    <option value="KENT">KENT</option>
                                </select>
                            </div>
                        </div>
                        <label class="control-label" for="sigaretsOne">Марка сигарет, які ти куриш час від часу</label>
                        <div class="clear"></div>
                        <span class="succes">Відкореговані дані успішно збережено.</span>
                        <input type="submit" class="submit" value="Редагувати">
                    </form>
                </div>
            </div>
        </div>
    </article>
</section>
</div>
