<section id="registered">

    <div class="wrapper-form">
        <h1>Реєcтрацiя користувача</h1>
        <form class="form-horizontal text-left" action=" " method=" ">

            <label class="control-label hidden-phone" for="name">П. I. Б.</label>
            <div class="controls">
                <input type="text" name="name" placeholder="П. I. Б." class="text" id="name" value="{{values.name}}">
                {{#errors.name}}
                <span class="error">Неправильно вказано дані (П. І. Б.)</span>
                {{/errors.name}}
            </div>

            <label class="control-label hidden-phone" for="date">Дата народження</label>
            <div class="controls">
                <div class="dateBirthday">
                    <input type="text" name="date" placeholder="День" placeholder="День" class="text" id="date" value="{{values.day}}" />
                    <select name="month" id="month" class="selectMonth">
                        <option value="Місяць" disabled>Місяць</option>
                        <option value="0">Січень</option>
                        <option value="1">Лютий</option>
                        <option value="2">Березень</option>
                        <option value="3">Квітень</option>
                        <option value="4">Травень</option>
                        <option value="5">Червень</option>
                        <option value="6">Липень</option>
                        <option value="7">Серпень</option>
                        <option value="8">Вересень</option>
                        <option value="9">Жовтень</option>
                        <option value="10">Листопад</option>
                        <option value="11">Грудень</option>
                    </select>
                    <!-- <input type="text" name="month" placeholder="Місяць" placeholder="Місяць" class="text" id="month" value="{{values.month}}" /> -->
                    <input type="text" name="year" placeholder="Рік" placeholder="Рік" class="text" id="year" value="{{values.year}}" />
                    <label class="control-label visible-phone" for="date" >Дата народження</label>
                </div>
                {{#errors.age}}
                <span class="error">Тобі ще не виповнилося 18 років</span>
                {{/errors.age}}
            </div>

            <label class="control-label hidden-phone" for="mobilePhone">Мобiльний телефон</label>
            <div class="controls">
                <input type="tell" name="mobilePhone" placeholder="0 (00) 000-00-00" class="text" id="mobilePhone" value="{{values.phone}}" />
                {{#errors.phone}}
                <span class="error">Неправильний формат номера</span>
                {{/errors.phone}}
            </div>

            <label class="control-label hidden-phone" for="email">E-mail</label>
            <div class="controls">
                <input type="email" name="email" placeholder="E-mail" class="text" id="email" value="{{values.email}}" />
                {{#errors.email}}
                <span class="error">Неправильний формат e-mail</span>
                {{/errors.email}}
                {{#errors.already_used_email}}
                <span class="error">Такий e-mail вже зареестровано</span>
                {{/errors.already_used_email}}
            </div>

            <label class="control-label hidden-phone" for="password">Пароль</label>
            <div class="controls">
                <input type="password" name="password" placeholder="Пароль" class="text" id="password" value="{{values.password}}" />
                {{#errors.password}}
                <span class="error">Пароль не відповідає вимогам</span>
                {{/errors.password}}
            </div>

            <label class="control-label hidden-phone" for="passwordTwo">Пiдтвердження пароля</label>
            <div class="controls">
                <input type="password" name="passwordTwo" placeholder="Пiдтвердження пароля" class="text" id="passwordTwo" value="{{values.password2}}" />
                {{#errors.not_same_passwords}}
                <span class="error">Паролі не збігаються</span>
                {{/errors.not_same_passwords}}
            </div>

           <p class="massege">Для отримання доступу на сайт, будь ласка, завантаж копію документа, що посвідчує вік:</p>

            <div class="button-photo">
                <a href="#!/upload" class="submit fileButton  ">завантажити</a>
                <input type="file" class="hide" id="photofile" name="photofile" value="">
                <!-- <a href="#!/webcam" class="submit webcamButton" id="web">завантажити з веб-камери </a> -->
            </div>
            {{#errors.photo}}
            <span class="error">Ти не завантажив копію документа</span>
            {{/errors.photo}}

            <label class="checkbox">
                <input type="checkbox" name="agree_age" id="agree_age" placeholder="ok18" class="hide" {{#values.agree_age}}checked{{/values.agree_age}} />
                <span class="checkbox {{#values.agree_age}}check{{/values.agree_age}}"></span>
                <p>Я підтверджую, що я курю та мені виповнилось 18 років</p>
            </label>

            <label class="checkbox">
                <input type="checkbox" name="agree_rules" id="agree_rules" placeholder="okRules" class="hide" {{#values.agree_rules}}checked{{/values.agree_rules}} />
                <span class="checkbox {{#values.agree_rules}}check{{/values.agree_rules}}"></span>
                <p>Я погоджуюсь з <a href="#!/rules"><strong>умовами користування</strong></a> цим веб-сайтом</p>
            </label>

            <label class="checkbox">
                <input type="checkbox" name="agree_info" id="agree_info" placeholder="okSite" class="hide" {{#values.agree_info}}checked{{/values.agree_info}} />
                <span class="checkbox {{#values.agree_info}}check{{/values.agree_info}}"><!-- chekboxError --></span>
                <p> Я погоджуюсь з тим, щоб інформація про тютюнові вироби,<br/>
                    які випускаються під <strong>ТМ «KENT»</strong>, надавалася мені<br/>
                    за допомогою <a href="123"><strong>kent.com.ua</strong></a></p>
            </label>
            {{#errors.not_agree}}
            <span class="error">Ти не погодився з усіма пунктами</span>
            {{/errors.not_agree}}

            <input type="submit" value="ok" class="submit ok">
        </form>
    </div>
</section>