<section id="remind">
    <div class="wrapper-form">
        <!-- Добавить класс `compleat` если новый пароль был отправлен -->
        <h1>відновлення пароля <a href="#"></a></h1>

        <p class="text hide" style="display:block;">Для відновлення пароля введи свій e-mail,<br/>
            який ти вказав під час реєстрації.</p>

        <span class="error hide">Для відновлення пароля введи свій e-mail
        який ти вказав під час реєстрації.</span>

        <p class="text comp">
            <!-- Добавить класс `comp` если новый пароль был отправлен -->
            На твій e-mail було надіслано дані
            для відновлення пароля.
        </p>

        <form action="" method="" class="text-center">
            <input type="text" name="email" value="E-mail:" class="text">
            <input type="submit" value="надіслати" class="submit">
        </form>

        <!--<a href="#" class="submit">ok</a>-->
    </div>
</section>