<section id="registered">
    <div class="wrapper-form">
        <h1>Дякуємо за реєстрацію <a href="#!/login"></a></h1>
        <p class="text">
            Ти майже отримав доступ до веб-сайту <span>KENT</span>. Твою інформацію буде<br/>
            перевірено адміністратором найближчим часом. У разі недостовірних<br/>
            даних реєстрацію буде відхилено. Відразу після успішної перевірки<br/>
            ти отримаєш листа на e-mail, який ти вказав під час реєстрації,<br/>
            та доступ до всіх можливостей веб-сайту <span>KENT</span>.<br/>
        </p>
        <a href="#!/login" class="submit link">ok</a>
    </div>
</section>
