<section id="registered">
    <div class="wrapper-form webcam" style="padding-bottom: 15px">
        <h1>Завантажити <a href="#" onclick="history.back(); return false;"></a></h1>
        <div id="flashContent"></div>
        <!--
            <span class="error upload hide">
                Помилка!<br/>
                Обраний файл не відповідає технічним вимогам. Файл має бути<br/>
                скан-копією першої сторінки паспорта або посвідчення водія,<br/>
                не більше ніж 1 Мб та у форматі JPG або PNG.
            </span>
        <p class="text" style="display:block;">
            Увага!<br/>
            Файл має бути скан-копією першої сторінки паспорта або посвідчення <br/>
            водія, не більше ніж 1 Мб та у форматі JPG або PNG.
        </p>
        <form method=" " action=" " class="text-center">
            <div class="input-append">
                <input type="file" name="photo" class="hide" value="">
                <input class="text fileInput" type="text" disabled>
                <button class="btn submit" type="button">Додати</button>
            </div>
            <input type="submit" class="submit" value="ok"/>
        </form>-->
    </div>
</section>