#login form {
  width: 278px;
}
#login .control-group {
  margin: 4px 0 0;
}
#login .control-group a {
  display: block;
  float: left;
}
#login .control-group + .control-group {
  margin: 9px 0 0;
}
#login .labelContainer {
  float: right;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
#login .linkRegistred {
  position: relative;
  top: 3px;
  font-size: 18px;
  font-family: 'DINPro-Regular';
}
#login span.checkbox {
  float: none;
  margin: 0;
}
#login input[type="submit"] {
  margin: 0;
}
