html,
body {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
body {
  position: relative;
  overflow: hidden;
  background: url("../img/background.png") no-repeat center center #dfdfdf;
  background-attachment: fixed;
  font-weight: 100;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
}
body > div {
  width: 100%;
  height: 100%;
}
label,
input,
button,
select,
textarea {
  border: 1px solid transparent;
  font-size: 12px;
}
label {
  color: #656e75;
}
a {
  color: #656e75;
}
a:hover {
  color: #656e75;
}
#scroll {
  height: 100%;
}
.clear {
  float: none;
  clear: both;
}
.container-fluid {
  position: relative;
  padding: 0;
  min-height: 600px;
  width: 100%;
  height: 100%;
}
.row-fluid {
  height: 77%;
}
.row-fluid.main {
  position: relative;
  display: table;
}
.row-fluid.main .span12 {
  position: relative;
  display: table-cell;
  float: none;
  height: 100%;
  vertical-align: middle;
}
.row-fluid.main .span12 section {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.container-fluid .row-fluid h1 {
  position: relative;
  margin: 6px 0 0;
  color: #656e75;
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 17px;
  font-family: Verdana, Geneva, sans-serif;
}
.container-fluid .row-fluid h1 a {
  position: absolute;
  top: 50%;
  right: 0;
  display: block;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  background: url("../img/icons.png") no-repeat 0 -72px;
}
.row-fluid h2 {
  margin: 0;
  color: #656e75;
  font-weight: 100;
  font-size: 25px;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1;
}
.row-fluid.footer {
  position: absolute;
  bottom: 15%;
  z-index: 3;
  height: auto;
}
.row-fluid.footer p {
  margin-bottom: 10px;
  color: #5d6870;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
}
.row-fluid.xv {
  position: absolute;
  bottom: 0;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  height: 15%;
  background-color: white;
}
.row-fluid.xv .span12 {
  min-height: 100%;
}
.row-fluid footer {
  overflow: hidden;
  padding: 15px 18px 14px;
  border-bottom: 1px solid #b0bfc9;
  background-color: white;
  color: #5d6870;
  text-transform: uppercase;
  font: 9px Verdana, Geneva, sans-serif;
}
.infoLine {
  display: inline-block;
  float: left;
  padding-left: 22px;
  background: url("../img/icons.png") no-repeat -33px 0;
}
.footerNav {
  float: right;
  text-transform: cursor: pointer;
}
.footerNav a {
  display: inline-block;
  padding-right: 7px;
  color: inherit;
  text-decoration: none;
}
.footerNav a + a {
  padding-left: 7px;
}
.footerNav a:hover {
  text-decoration: underline;
}
#xv {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fff;
}
#xv img {
  display: block;
  width: 100%;
  height: 100%;
}
.wrapper-form {
  position: relative;
  z-index: 4;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 20px;
  background-color: white;
  box-shadow: 0 0 10px #6C6C6C;
  box-shadow: 0 0 10px rgba(108, 108, 108, 0.5);
}
form .text,
form .pass,
.input-append .text {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  padding: 0 9px;
  width: 278px;
  height: 28px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #e0e0e0;
  box-shadow: none;
  color: #7d888f;
  text-align: left;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 1;
  -webkit-transition: background-color 500ms ease-in-out;
  -moz-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
form .text:focus,
form .pass:focus,
.input-append .text:focus {
  border-color: #e0e0e0;
  background-color: #fff;
  box-shadow: none;
}
.save form .pass,
.save form .text,
.save .input-append .text,
.save input {
  border-color: #e0e0e0;
  background-color: #fff;
}
.save .dateBirthday .ik_select_link,
.save .smoke .ik_select_link {
  height: 26px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
  -webkit-transition: background-color 500ms ease-in-out;
  -moz-transition: background-color 500ms ease-in-out;
  transition: background-color 500ms ease-in-out;
}
body .submit {
  float: right;
  padding: 0;
  width: 135px;
  height: 30px;
  border: none;
  border-radius: 0 !important;
  background: #7d888f;
  box-shadow: none !important;
  color: #fff;
  text-transform: uppercase;
  text-shadow: none;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
  line-height: 30px;
  cursor: pointer;
  -webkit-transition: background 500ms ease-in-out;
  -moz-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
}
body .submit:hover {
  background: #656E75;
  color: #fff;
}
form .inputError {
  border: 1px solid #ed1c24;
  color: #ed1c24;
}
form .chekboxError {
  border: 1px solid #ed1c24;
}
.error {
  display: block;
  margin: 10px 0 12px;
  background: url("../img/icons.png") no-repeat 0 -15px;
  color: #ED1C24;
  text-align: left;
  text-indent: 24px;
  font-size: 12px;
}
span.checkbox {
  display: inline-block;
  float: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 0 6px;
  padding-left: 0;
  min-height: 0;
  width: 13px;
  height: 13px;
  background-image: url("../img/icons.png");
  background-position: -15px 0;
  background-repeat: no-repeat;
  vertical-align: middle;
}
span.checkbox.check {
  background-position: 0 0;
}
#svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
}
textarea {
  overflow: auto;
  width: 353px;
  height: 149px;
  outline: none;
  border: 1px solid transparent;
  border-radius: 0;
  background-color: #e0e0e0;
  box-shadow: none;
  color: #7d888f;
  font-weight: 100;
  font-size: 14px;
  font-family: Verdana, Geneva;
  resize: none;
  transition: background-color 500ms ease-in-out;
}
textarea:focus {
  border-color: #e0e0e0;
  background-color: #fff;
  box-shadow: none;
}
.dateBirthday,
.button-photo,
.smoke {
  margin-bottom: -5px;
  width: 278px;
  text-align: justify;
  line-height: 0;
}
.dateBirthday input[name="date"],
.button-photo input[name="date"],
.smoke input[name="date"] {
  width: 52px;
}
.dateBirthday input[name="month"],
.button-photo input[name="month"],
.smoke input[name="month"] {
  width: 105px;
}
.dateBirthday input[name="year"],
.button-photo input[name="year"],
.smoke input[name="year"] {
  width: 97px;
}
.dateBirthday input,
.button-photo input,
.smoke input {
  display: inline-block;
  line-height: 1;
}
.dateBirthday:after,
.button-photo:after,
.smoke:after {
  display: inline-block;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
  height: 0;
  content: '';
}
.dateBirthday *,
.button-photo *,
.smoke * {
  vertical-align: top;
  line-height: normal;
}
.succes {
  display: block;
  margin-top: 8px;
  padding-left: 30px;
  background-image: url("../img/icons.png");
  background-position: -87px -100px;
  background-repeat: no-repeat;
  color: #6B747A;
  font-size: 12px;
}
.row-fluid.footer.no-text {
  height: 42px;
}
.hide {
  display: none;
}
.dateBirthday .ik_select {
  display: inline-block;
}
.dateBirthday .ik_select_link {
  position: relative;
  display: inline-block;
  width: 86px;
  height: 28px;
  border: 0;
  background-color: #E0E0E0;
  text-align: left;
  font-size: 12px;
  font-family: Verdana, Geneva, sans-serif;
}
.dateBirthday .ik_select_link_text {
  padding-top: 7px;
  color: #7D888F;
}
.ik_select_block {
  margin-top: 13px;
  height: auto;
}
.ik_select_list li {
  left: -3px;
}
#filter article > div {
  text-align: center;
}
canvas {
  position: relative;
  top: -90px;
}
#filter .title {
  color: #6B747A;
  font-size: 30px;
}
.aboute-filter {
  margin: auto;
  width: 800px;
  text-align: left;
}
.aboute-filter > div {
  display: inline-block;
  margin-top: 40px;
  width: 244px;
}
.aboute-filter > div + div {
  margin-left: 50px;
}
.aboute-filter > div + div + div {
  position: relative;
  left: 40px;
  margin-left: 0;
}
.aboute-filter h4 {
  color: #6B747A;
  text-align: center;
  font: 24px Verdana;
}
.aboute-filter p {
  color: #6B747A;
  text-align: center;
  font: 16px Verdana;
}
.photo-wrapper{
  position: relative;
}
.desclaimer{
  position: absolute;
  top: 22px;
  left: 8%;
  width: 235px;
  margin: auto;
  font-family: Arial;
  font-size: 18px;
  color: #7D888F;
  line-height: 24px;
  font-weight: 100;
}
.desclaimer a{
  color:#5d6870;
  text-decoration: underline;
}
.desclaimer a:hover{
  text-decoration: none;
}
@media (max-width: 767px) {
  body {
    padding: 0;
    font-size: 16px;
  }
  body .submit {
    width: 223px;
    height: 38px;
    font-size: 16px;
    line-height: 38px;
  }
  label,
  input,
  button,
  select,
  textarea {
    font-size: 16px;
  }
  label:focus,
  input:focus,
  button:focus,
  select:focus,
  textarea:focus {
    border-color: #e0e0e0 !important;
    box-shadow: none !important;
    color: #7d888f !important;
  }
  .error {
    font-size: 16px;
  }
  .wrapper-form {
    padding: 0 29px;
  }
  .container-fluid .row-fluid h1 {
    margin: 15px 0;
    font-size: 23px;
  }
  form .text,
  form .pass,
  form .input-append .text {
    width: 470px;
    height: 55px;
    font-size: 24px;
  }
  span.checkbox {
    width: 19px;
    height: 19px;
    background-image: url("../img/mobileCheckbox.png");
    background-position: 0 -22px;
  }
  .row-fluid.footer footer {
    padding: 9px 10px 6px;
  }
  .row-fluid.footer.no-text {
    height: auto;
  }
  .footerNav {
    float: left;
    width: 407px;
    text-align: left;
  }
  .footerNav a {
    margin-right: 5px;
    padding: 0;
    font-size: 9px;
  }
  .footerNav a:last-child {
    margin-right: 0;
  }
  .footerNav span + a {
    padding: 0;
  }
  .infoLine {
    width: 100%;
    font-size: 9px;
  }
  .desclaimer a{
    display: none;
    color:#5d6870;
    text-decoration: underline;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .footerNav {
    float: left;
    width: auto !important;
    text-align: left;
  }
  .footerNav a {
    margin-right: 5px;
    padding: 0;
    font-size: 9px !important;
  }
  .footerNav a:last-child {
    margin-right: 0;
  }
  .footerNav span + a {
    padding: 0;
  }
  .infoLine {
    width: auto !important;
    font-size: 9px !important;
  }
}
