#remind .wrapper-form {
  width: 360px;
}
.text {
  margin: 12px 0 27px;
  color: #7d888f;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
}
.text span {
  font-family: 'DINPro-Regular';
}
.wrapper-form > .text {
  margin-top: 7px;
  margin-bottom: 21px;
}
.wrapper-form .error {
  margin-top: 7px;
  margin-bottom: 21px;
}
#remind .submit {
  float: none;
  margin-top: 15px;
}
.compleat .text,
.compleat .error,
.compleat .form,
.compleat input.submit {
  display: none !important;
}
.compleat .comp {
  display: block !important;
  margin: 42px 0 52px;
}
.compleat a.submit {
  display: inline-block;
}
#remind .compleat .submit {
  margin: 0 0 15px;
}
.comp,
a.submit {
  display: none;
}
